.ball {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #f15d57;
  border-radius: 50%;
  /* margin: 0.5rem 0rem; */
  color: #f15d57;
}

.ball p {
  font-size: 1.3rem;
  font-weight: bold;
}

.back-ball {
  border: 0.2rem solid #44bbd5;
  color: #44bbd5;
}

.active {
  background-color: #f15d57;
  color: white;
}

.back-active {
  background-color: #44bbd5;
  color: white;
}
