.content {
  margin: 3rem 0;
}

.selection-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  padding: 0 1rem;
}
.selection-area > div {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(3.2rem, 3.2rem));
  grid-auto-rows: repeat(auto-fit, minmax(3.2rem, 3.2rem));
  border-bottom: 0.14rem solid #d0d0d0;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
}

.selection-area > div:last-child {
  border-bottom: 0.14rem solid transparent;
}
/* 伪元素，用于填充最后一行的空间 */
/* .selection-area > div::after {
  content: "";

  margin: auto;
} */
.footer {
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #f82d29;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #888888;
}

.footer img {
  width: 1.3rem;
  height: 1.3rem;
}

.footer div {
  flex: 1;
  padding: 0 2rem;
  margin: 0 2rem;
  text-align: center;
  max-lines: 2;
  line-height: 1.5rem;
  color: white;
  border-left: solid 0.15rem #f66e6e;
  border-right: solid 0.15rem #f66e6e;
}
